.navbar{
    padding-right: 30px;
    padding-left: 35px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    margin-top: -80px;
    justify-content: space-evenly;
}
h3{
    font-size: 30px;
    padding-left: 15px;
    margin-left: 10%;
}
.navbar ul li{
    display: inline-flex;
    padding: 15px;
    align-items: center;
    justify-content: space-evenly;
}
.navbar ul li a{
    text-transform: inherit;
    color:black;
}
.navbar button{
    background-color: black;
    color: white;
    padding: 8px;
}
body{
    margin: 35px 0px 0px 100px;
}
.button{
    color: black;
    text-align: center;
    font-weight: bold;
    border: 2px;
    
}
.G1{
    display: flex;
    justify-content: space-evenly;
    background-color: bisque;
    
}
#button2{
    background-color: black;
    color: white;
}
#button3{
    background-color: black;
    color: aliceblue;
    padding: 10px 0px;
    font-size: 20px;
}
.content h2{
    margin: 30px auto;
    font-weight: 300px;
    color:black;
    font-style: normal;
    font-size: 100px;
    text-align: justify;
    margin-left: 10%;


}
#first{
    font-size: 60px;
    margin-left: 10%;
}
.content{
    display: flex;
}
.content p{
    color: black;
    font-size: 15px;
    font-style: normal;
    padding-top:40px ;
    margin-left: 10px;
}
#lan2{
    float: right;
    width: 650px;
    height: 400px;
    margin-right: 10%;
}
#fun2{
    float: left;
    width: 450px;
    height:400px ;
    margin-right: 10%;
}
#tan{
    float: right;
    width: 300px;
    height: 300px;
    margin-right: 10%;
}
#tax{
    float: left;
    width: 300px;
    height:300px ;
    margin-right: 10%;
}
.content3{
    font-size: 10px;
    display: flex;
    align-items: center;
    margin: 0% 40% 10% 33%;
}


